body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #ffe6f2;
    color: #d63384;
}
.container {
    margin-top: 50px;
}
button {
    background-color: #ff4081;
    color: white;
    padding: 10px;
    margin: 10px;
    border: none;
    cursor: pointer;
}
.hidden {
    display: none;
}
img {
    width: 200px;
    height: auto;
    margin: 10px;
    border-radius: 10px;
}